<!doctype html>
<html lang="en" data-ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <script src="/static/js/angular.min.js"></script>
</head>
<body>

<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col16+from+1HLka9ST2CZW9EE8kQkrw8FACWEttqFEqrzYPkf3N&amp;viz=MAP&amp;h=false&amp;lat=38.23911090774886&amp;lng=-85.73645914306638&amp;t=1&amp;z=10&amp;l=col16&amp;y=2&amp;tmplt=3&amp;hml=TWO_COL_LAT_LNG"></iframe>


{{ response }}
  <p>Nothing here {{'yet' + '!'}}</p>

</body>
</html>