<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DataPipleine Final Project - Pantheon</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/sb-admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/sb-admin/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/sbadmin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/sbadmin/css/timeline.css" rel="stylesheet">
    <link href="/static/chosen_v1.4.2/chosen.min.css" rel="stylesheet">
    <link href="/static/sb-admin/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"
          type="text/css">

    <!-- Custom Fonts -->
    <link href="/static/sb-admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/ekko-lightbox.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .graphs{
        height:300px;
        }

        .tic-box{
        width:130px!important;
        height:130px;
        position:relative;
        }

        .hov-box:hover{
        background-color: #00ff00;
        cursor:pointer;
        }

        .tic-table{
        text-align:center;
        }

        .pi{

        }

        .right-border{
        border-right: 2px solid black;
        }

        .bottom-border{
        border-bottom: 2px solid black;
        }

        .move-stats{
        position: absolute; bottom 0!important;
        }

        .search-form{
        width:80%!important;display:inline-block!important
        }
    </style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ferry</a>
        </div>
        <!-- /.navbar-header -->


        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" style="position:fixed">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="#"><i class="fa fa-briefcase fa-fw"></i> OCCUPATION</a>
                    </li>

                    <li class="sidebar-search">


                        <form role="form" method="post" action="/occupation">

                            <div class="form-group">

                                <div class="form-group search-form">
                                    <select class="form-control chosen-select" name="occupation">
                                        {% for log in lists.occupations %}
                                        <option value="{{log.occupation}}"
                                                >{{log.occupation}}
                                        </option>
                                        {% endfor %}


                                    </select>

                                </div>
                                <button type="submit" class="btn btn-default pull=right">
                                    <i class="fa fa-search"></i>
                                </button>

                            </div>


                        </form>


                        <!-- /input-group -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-bank fa-fw"></i> AGE</a>
                    </li>
                    <li class="sidebar-search">


                        <form role="form" method="post" action="/era">

                            <div class="form-group search-form">

                                <select class="form-control chosen-select" name="era"
                                        data-placeholder="Choose an occupation">
                                    {% for log in lists.era %}
                                    <option value="{{log.id}}" id="{{log.id}}" data-start="{{log.start}}"
                                            data-stop="{{log.start}}">{{log.title}} - {{log.country}}
                                    </option>
                                    {% endfor %}


                                </select>


                            </div>


                            <button type="submit" class="btn btn-default pull=right">
                                <i class="fa fa-search"></i>
                            </button>


                        </form>


                        <!-- /input-group -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-flag fa-fw"></i> COUNTRY</a>
                    </li>
                    <li class="sidebar-search">


                        <form role="form" method="post" action="/country">

                            <div class="form-group search-form">

                                <select class="form-control chosen-select" name="country"
                                        data-placeholder="Choose an occupation">
                                    {% for log in lists.country %}
                                    <option value="{{log.country}}" id="{{log.id}}" data-start="{{log.start}}"
                                            data-stop="{{log.start}}">{{log.country}}
                                    </option>
                                    {% endfor %}


                                </select>


                            </div>


                            <button type="submit" class="btn btn-default pull=right">
                                <i class="fa fa-search"></i>
                            </button>


                        </form>


                        <!-- /input-group -->
                    </li>


                    <li>
                        <a href="/explore"><i class="fa fa-sitemap fa-fw"></i> Explore </a>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/ml"><i class="fa fa-question-circle fa-fw"></i> Machine Learning</a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/team"><i class="fa fa-user fa-fw"></i> Team</a>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{header}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        {% block body %}{% endblock %}

        <!-- /.row -->


        <!-- /.row -->


        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/sb-admin/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/sb-admin/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/sb-admin/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/static/chosen_v1.4.2/chosen.jquery.min.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="/static/sbadmin/js/sb-admin-2.js"></script>
    <script src="/static/js/ekko-lightbox.min.js"></script>
    <script src="http://www.d3plus.org/js/d3.js"></script>
    <script src="http://www.d3plus.org/js/d3plus.js"></script>
    <script src="http://www.d3plus.org/js/topojson.js"></script>
    {% block js %}{% endblock %}
    <script>
$( document ).ready(function() {
        $(".chosen-select").chosen({width: "95%"});
        // delegate calls to data-toggle="lightbox"
				$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({
						always_show_close: true
					});
				});
});












    </script>

</body>

</html>

