{% extends "admin.html" %}
{% block body %}
<div class="row">
    <h2>
        {{country}}
    </h2>


    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Relative Occupation Popularity
            </div>

            <div class="panel-body">
                <div id="viz5" class="graphs"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Cumulative Occupation Popularity
            </div>

            <div class="panel-body">
                <div id="viz6" class="graphs"></div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> People
            </div>

            <div class="panel-body">
                <table class="table table-striped table-condensed" id="people">
                    <thead>
                    <tr>
                        <th>Person</th>
                        <th>Gender</th>
                        <th>Occupation</th>
                        <th>Born</th>
                        <th>Popularity</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for log in data.people %}
                    <tr>
                        <td><a href="http://simple.m.wikipedia.org/wiki/{{log.name|wiki_url}}" data-toggle="lightbox">{{
                            log.name }}</a>
                        </td>
                        <td>{{ log.gender }}</td>
                        <td><a href="{{url_for('search_occupation', occupation=log.occupation)}}">{{ log.occupation
                            }}</a></td>
                        <td>{{ log.birthyear }}</td>
                        <td>{{ log.hpi }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="col-lg-4">

        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Country
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Average
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Total
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div id="viz2" class="graphs"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Gender
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Average
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Total
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div id="viz" class="graphs"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <!-- /.panel .chat-panel -->
    </div>

</div>


{% endblock %}


{% block js %}
<script src="/static/sb-admin/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/sb-admin/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>


function draw_pie(element,data)
{

d3plus.viz()
    .container("#"+element)
    .data(data)
    .type("pie")
    .id("name")
    .size("value")
    .draw()
}

function draw_tree(element,data)
{

d3plus.viz()
    .container("#"+element)
    .data(data)
    .type("donut")
    .id("name")
    .size("value")
    .draw()
}
  var gender_data = [
  {% for log in data.gender %}
   {"value": {{ log.counts }}, "name": "{{ log.gender }}"},
   {% endfor %}
  ];




    $(document).ready(function() {
        $('#people').DataTable({
                 "aaSorting": [[4,'desc']]
        });
        draw_pie("viz",gender_data);
        draw_tree("viz2",country_data);
    });



     var country_data = [
  {% for log in data.occupation %}
   {"value": {{ log.counts }}, "name": "{{ log.occupation }}"},
   {% endfor %}
  ];

  function draw_line(element,data)
{

d3plus.viz()
    .container("#"+element)
    .data(data)
    .type("line")
    .id("name")
    .size("value")
    .draw()
}


var h_data = [
  {% for log in data.domain %}
   {% if "all" != log.occupation %}
   {"hpi_sum": {{ log.hpi_sum }},"hpi_cum": {{ log.hpi_cum}}, "name": "{{ log.occupation }}","year":{{log.year}}},
   {% endif %}
   {% endfor %}
  ];

  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz5")  // container DIV to hold the visualization
    .data(h_data)  // data to use with the visualization
    .type("line")       // visualization type
    .id("name")         // key for which our data is unique on
    .text("name")       // key to use for display text
    .y("hpi_sum")         // key to use for y-axis
    .x("year")          // key to use for x-axis
    .draw()             // finally, draw the visualization!


  // instantiate d3plus
  var visualization = d3plus.viz()
    .container("#viz6")  // container DIV to hold the visualization
    .data(h_data)  // data to use with the visualization
    .type("line")       // visualization type
    .id("name")         // key for which our data is unique on
    .text("name")       // key to use for display text
    .y("hpi_cum")         // key to use for y-axis
    .x("year")          // key to use for x-axis
    .draw()             // finally, draw the visualization!









</script>
{% endblock %}









