{% extends "admin.html" %}
{% block body %}

            <div class="row" id="team">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 id="grid-nesting">Team</h3>

                            <div class="row show-grid">
                                <div class="col-xs-6 col-md-4">Vikram Kamath</div>
                                <div class="col-xs-6 col-md-4">Yujing Tian</div>
                                <div class="col-xs-6 col-md-4">Chien-Yu Chang</div>
                                  <div class="col-xs-6 col-md-4">Ya Gao</div>
                                <div class="col-xs-6 col-md-4">Naixin Zhang</div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock %}

